<div class="well bs-component">
    <form class="form-horizontal">
        <fieldset>
            <legend>{{TeamName}}</legend>
            <div class="form-group">
                <label for="shots" class="col-lg-4 control-label">Total Shots</label>
                <div class="col-lg-8">
                    <input class="form-control" id="disabledInput" placeholder="{{Stats.TotalShots}}" type="text" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="effectiveness" class="col-lg-4 control-label">Shot Effectiveness</label>
                <div class="col-lg-8">
                    <input class="form-control" id="disabledInput" placeholder="{{Stats.ShotEffectiveness}}%" type="text" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="scorer" class="col-lg-4 control-label">Top Scorer</label>
                <div class="col-lg-8">
                    <input class="form-control" id="disabledInput" placeholder="{{Stats.TopScorer}}" type="text" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="dirty" class="col-lg-4 control-label">Dirtiest Player</label>
                <div class="col-lg-8">
                    <input class="form-control" id="disabledInput" placeholder="{{Stats.DirtiestPlayer}}" type="text" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="assists" class="col-lg-4 control-label">Assist Leader</label>
                <div class="col-lg-8">
                    <input class="form-control" id="disabledInput" placeholder="{{Stats.AssistLeader}}" type="text" readonly>
                </div>
            </div>
        </fieldset>
    </form>
</div>